@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <div>
        <img src="https://server-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/images/nils.jpg" width="80" height="80" style="margin:0px 20px;" alt="Logo Image">
        <img src="https://server2-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/images/nils.jpg" width="80" height="80" style="margin:0px 20px;" alt="Logo Image">
        <img src="https://console.dev.radix.equinor.com/static/media/logo-radix.8cc6c1d6.svg" width="80" height="80" style="margin:0px 20px;" alt="Logo Image">
    </div> *@
    
    
    <h1 class="display-4">Welcome!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a href="https://server2-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/">Link to server2</a>
    </div>
    <div>
        <a href="https://server-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/">Link to server</a>
    </div>
    <div>
        <h4>There are @this.Model.ProductCount rows in table dbo.Products</h4>
    </div>
    <div>
        <h4>Secrets returned by Azure KeyVault Client SDK</h4>
        @foreach (var secret in this.Model.Secrets)
        {
            <div>@secret</div>
        }
    </div>
    <div>
        <h4>Secrets read by dotnet configuration manager</h4>
        @foreach (var config in this.Model.Configs)
        {
            <div>@config.Key : @config.Value</div>
        }
    </div>
    <div>
        <h4>Headers</h4>
        <table style="width: 100%; max-width: 100%; table-layout: fixed; text-align: left;">
            <thead>
                <tr><th>Name</th><th>Value</th></tr>
            </thead>
            <tbody>
                @foreach (var header in this.Model.Headers)
                {
                    <tr style="vertical-align: top;"><td>@header.Key</td><td style="overflow-wrap: anywhere; user-select: all;">@header.Value</td></tr>
                }        
            </tbody>
        </table>
        
    </div>
</div>
