@page
@model VideoModel
@{
    ViewData["Title"] = "Videos";
}

<h3>Upload file</h3>
<form method="post" asp-page-handler="Upload" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <input type="submit" />
</form>
@if(Model.UploadError?.Length>0)
{
    <div>@Model.UploadError</div>
}
<h3>Videos</h3>

<div>
    <a href="/api/video/megafile">Download mega file</a>
</div>

@if(Model.Videos?.Length==0)
{
    <div>No videos available</div>
} else {
    <form asp-page-handler="Play" method="post">
    @foreach (var item in Model.Videos)
    {
        <div>
            <input type="radio" name="SelectedVideoId" id="@item.Id" value="@item.Id" />
            <label for="@item.Id">@item.FileName (@Model.ConvertToMB(item.SizeBytes))</label>
            <a href="/api/video/@item.Id">Download</a>
        </div>
    }
    <input type="submit" value="Play" />  
    </form>
}

@if(Model.SelectedVideo != null) 
{
    <div>Selected video: @Model.SelectedVideo.FileName</div>
    <div>
        <video controls src="/api/video/@Model.SelectedVideo.Id" width="800px">Your browser does not support the video tag.</video>
    </div>
}

